.indicaciones{

    

    
    
    display: flex;
    margin: 15% 5% 15% 5%;
    padding: 10%;
    background-image: linear-gradient(90deg, rgba(162,189,162,1) 22%, rgba(196,213,196,1) 65%);
    border-radius: 10px;

    .texto-1{
       
        text-align: center;
        font-size: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;

    }

        img{
            width:160%;
           

        }
         
    

   
}