.consulta{
     display: flex;
     justify-items: center;
     text-align: center;
     margin: 0% 20% 0% 20%;
     flex-direction: row;
     align-items: center;

       
        
       
    h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 30px;
     color: black;
    
    
   
  
}
img{
    width: 90%;
}
}

    
.contacto{
   
    display: flex;
    justify-content: center;
    margin: 5% 20% 5% 20%;
    background-image: linear-gradient(90deg, rgba(162,189,162,1) 22%, rgba(196,213,196,1) 65%);
    border-radius: 10%;
    padding: 5%;
}

.redes{
    margin: 5% 20% 2% 20%;
    h3{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }

}
.links{
    display: flex;
    justify-content: center;
    margin-top: 3%;

   a{
    margin: 5px;
    &:hover{
        margin-inline: 8px;
        opacity: 50%;
    }
   }
}